.body {
    width: 100dvw;
    overflow: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.stickyNavigation {
    display: block;
    position: sticky;
    top: 0;
    height: var(--navBarHeight);
    z-index: 1000;
}

.navigationBar {
    height: inherit;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
}

.navigationBar button {
    padding: 0 12px;
}

.thumbnail {
    height: 350px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.stickyMenu {
    position: sticky;
    top: var(--navBarHeight); /* MainNavigationBar의 높이에 따라 조정 */
    z-index: 999;
    height: var(--menuBarHeight);
}

.menuBar {
    height: inherit;
    position: sticky;
    display: flex;
    justify-content: space-around;
}
.menuBar .item {
    flex: 1;
    height: var(--menuBarHeight);
    background-color: darkgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuBar .itemSelected {
    flex: 1;
    height: var(--menuBarHeight);
    background-color: gray;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 120px;
    background-color: black;
    padding: 10px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.iconWithText {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding-right: 5px;
}

.content {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    display: none;
}
.container {
    overflow-y: scroll;
}
.contains:has(.content:focus-within) .thumbnail {
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .sidebar {
        width: 40px;
    }

    .iconWithText span {
        display: none;
    }
}

@media (max-width: 420px) {
    .thumbnail {
        display: none;
    }
}

@media (min-width: 420px) {
    .stickyNavigation {
        display: none;
    }

    .stickyMenu {
        top: 0;
    }
}